In [3]:
##Discuss string slicing and provide examples

#python slicing is about obtaining a sub-string from the given string through slicing it.
#syntax=  slice()
a="ajay"
s1=slice(1)
s2=slice(3)
print(a[s1])
print(a[s2])

a
aja

In [6]:
## Explain the key features of lists in Python

#list in python 
#syntax
lis=[1,2,3,4,7]
type(lis)
#features of list are-
#list are stored in an order
#list is mutable type 
#integer as well as string can be stored in it
#list are dynamic in nature

list

In [10]:
##Describe how to access, modify, and delete elements in a list with examples
lis1=["Ajay","Sanjay","Bijay"]
#to access one item we use list[item no ]
lis1[1]

'Sanjay'

In [9]:
#to access item except the first item we use 
lis1[1:]

['Sanjay', 'Bijay']

In [11]:
#to access whole list we use 
lis1

['Ajay', 'Sanjay', 'Bijay']

In [12]:
#modify
#to modify the item we use append keyword
lis1.append("auja")
lis1

['Ajay', 'Sanjay', 'Bijay', 'auja']

In [17]:
#to add item before indexing
lis1.insert(1,"Aujla")
lis1

['Ajay', 'Aujla', 'Aujla', 'Sanjay', 'Aujla', 'Aujla', 'Bijay', 'auja']

In [21]:
#extend-it is used to append elements from another list
mylist = ["Apple", "Banana",]
brotherslist = ["oreo", "potato"]
mylist.extend(brotherslist)
mylist

['Apple', 'Banana', 'oreo', 'potato']

In [22]:
#to delete items we use
mylist.pop()

'potato'

In [23]:
mylist

['Apple', 'Banana', 'oreo']

In [24]:
#to remove all the element in list we use 
mylist.clear()

In [25]:
mylist

[]

In [27]:
##Compare and contrast tuples and lists with examples

#list-list are mutable.it can be changed new elements can be introduced. it requires memory location. it is ordered. syntax-[]
#tuple-Tuple are immutable. it cannot be changed. it is more efficient and faster to access. it is also ordered.Syntax-()

#examples- 
lis2=["ajay",1,7,3+4j]
tup4=("apple",3,5,"bijay")

In [29]:
lis2

['ajay', 1, 7, (3+4j)]

In [30]:
tup4

('apple', 3, 5, 'bijay')

In [31]:
type(lis2)

list

In [32]:
type(tup4)

tuple

In [33]:
##Describe the key features of sets and provide examples of their use.

#sets in python
#sets are unorderd and unique collection of elements
#it allows only unique elements i.e. any duplicate elements will be considered as one element.
#it is unordered so indexing will not work with it.
#syntax-{}
s={2,"ajay","ajay",3,2}
s

{2, 3, 'ajay'}

In [34]:
type(s)

set

In [35]:
s.add(6) #to add elements in sets we use add keyword in it

In [36]:
s

{2, 3, 6, 'ajay'}

In [37]:
#there are many use cases for it for example if we have list we can make list as sets so only unique elements will be shown through it,

typ4=[1,5,7,"ram","sham","ram","ajy",5,1]
s=set(typ4)

In [38]:
s

{1, 5, 7, 'ajy', 'ram', 'sham'}

In [39]:
type(s)

set

In [41]:
##Discuss the use cases of tuples and sets in Python programming

#tuple is used because it store elements and is immutable which means the elments cannot be changed sfter alteration
#sets are used in many cases- for example if we have list we can make list as sets so only unique elements will be shown through it,
typ5=[1,5,7,"ram","sham","ram","ajy",5,1]
s1=set(typ5)
type(s1)

set

In [42]:
s

{1, 5, 7, 'ajy', 'ram', 'sham'}

In [43]:
## Describe how to add, modify, and delete items in a dictionary with examples

#to add items in a dictonary we use 
d = {"name":"Ajay", "email":"ajay@gmail.com", "contact": 1234}

In [44]:
type(d)

dict

In [45]:
d

{'name': 'Ajay', 'email': 'ajay@gmail.com', 'contact': 1234}

In [48]:
#it is mutable 
#so
d['name']="fanah"

In [49]:
d

{'name': 'fanah', 'email': 'ajay@gmail.com', 'contact': 1234}

In [50]:
#to add
d={"address":"sector 45"}

In [51]:
d

{'address': 'sector 45'}

In [52]:
#to delete 
del d["address"]

In [53]:
d

{}

In [54]:
##Discuss the importance of dictionary keys being immutable and provide examples
    
#for example if a students has all its data stored in dictonary key he or no one else can change the data of students.they are used to store data value in key with the value pair 
d = {"name":"Ajay", "email":"ajay@gmail.com", "contact": 1234}
#no one can change keys of dictonary